<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOLY COW</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Meet the cow fortune teller</h1>
        <div class="buttonContainer">
            <button id="getFortuneBtn">Pay Offering</button>
            <!-- <button id="getResponseBtn">Answer</button> -->
        </div>

        <div class="cowContainer">
            <div id="fortuneContainer">
                <pre id="fortuneText" class="cowMsg"></pre>
            </div>
            <!-- <div id="responseContainer"> -->
            <!--     <pre id="responseText" class="cowMsg"></pre> -->
            <!-- </div> -->
        </div>
        
    <script src="/static/js/script.js"></script>
</body>
</html>
